body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
